@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import '../../Styles/vars.scss';

.SadBear {
	font-size: 100vw / (1440/10);

	@media screen and (max-width: $large_tablet) {
		font-size: 80.5%;
	}

	@media screen and (max-width: $large_mobile) {
		font-size: 100vw / (480 /10);
	}

	body {
		font-family: 'Electrolize', sans-serif;
	}

	.content {
		a {
			color: #00ffff;
		}
	}

	.small-title {
		color: #fff;
	}

	.sad-bear {
		background-image: url('../../Images/bear-background.png');
		height: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		padding-bottom: 10rem;
		overflow: hidden;
		z-index: 1;

		.bottom-background {
			position: absolute;
			bottom: 0;
			left: auto;
			background-image: url('../../Images/bear6.png');
			background-position: bottom 0 right -10rem;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			height: 130rem;
			z-index: -1;
			opacity: 0.4;
			pointer-events: none;
		}
	}

	.main-screen {
		padding-top: 20rem;
		padding-bottom: 8rem;
		position: relative;

		@media screen and (max-width: $large_tablet) {
			padding: 10rem 2rem 0;
		}

		&__wrap {
			padding-left: 16.7rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			@media screen and (max-width: $large_tablet) {
				padding-left: 0;
				flex-direction: column;
				justify-content: flex-start;
			}
		}

		&__wrap2 {
			margin-top: 5rem;
			align-items: flex-start;
		}

		&__text {
			max-width: 57rem;
			width: 100%;
			text-align: left;
			color: #fff;
			padding-right: 3rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 4rem;
				max-width: 100%;
			}
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 9rem;
			color: #fff;
			margin-bottom: 0;

			@media screen and (max-width: $large_tablet) {
				font-size: 6rem;
			}
		}

		&__description {
			font-family: 'Hiruko';
			font-size: 4.6rem;
			margin-bottom: 2rem;

			@media screen and (max-width: $large_tablet) {
				font-size: 3.5rem;
				margin-bottom: 1rem;
			}
		}

		&__content {
			font-size: 3.6rem;
			letter-spacing: -0.13rem;
			line-height: 4.8rem;

			@media screen and (max-width: $large_tablet) {
				font-size: 1.8rem;
				line-height: 3rem;
			}

			b {
				font-family: 'Hiruko';
			}
		}

		.connect-button {
			font-family: 'Hiruko';
			font-size: 3.4rem;
			color: #00ffff;
			padding: 1rem;
			border-radius: 2px;
			background: radial-gradient(
				92.05% 92.05% at 50% 64.77%,
				rgba(16, 134, 141, 0.5) 0%,
				rgba(196, 196, 196, 0) 100%
			);
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			border-image: linear-gradient(to bottom, #fff, #00ffff) 1 round;
			margin-top: 1rem;
			margin-bottom: 8rem;
		}

		.counter-placeholder {
			font-family: 'Hiruko';
			font-size: 7.2rem;
			color: #00ffff;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		&__image {
			max-width: 69rem;
			width: 100%;
			max-height: 69rem;
			height: 69rem;
			background-image: url('../../Images/bear-gif.gif');
			background-repeat: no-repeat;
			background-size: contain;
			margin-top: -12rem;

			@media screen and (max-width: $large_tablet) {
				background-position-x: center;
				height: 33rem;
				margin-top: 0;
			}
		}
	}

	.road-map {
		&__wrap {
			position: relative;
			padding: 0rem 18rem 33.3rem 16.8rem;

			@media screen and (max-width: $large_tablet) {
				padding: 3rem 2rem 5rem;
			}
		}

		&__list {
			max-width: 90.6rem;
			width: 100%;
		}

		&__item {
			position: relative;
			z-index: 1;
			padding-left: 17.5rem;
			padding-top: 2.3rem;
			padding-bottom: 7.3rem;
			margin-bottom: 0.8rem;

			@media screen and (max-width: $large_tablet) {
				padding-left: 0rem;
				padding-top: 2rem;
				padding-bottom: 2rem;
				flex-direction: column;
				justify-content: flex-start;
			}

			&:first-of-type {
				padding-top: 0rem;
				padding-bottom: 8rem;

				@media screen and (max-width: $large_tablet) {
					padding-top: 0.4rem;
					padding-bottom: 3rem;
				}

				&::before {
					top: 0;
				}
				&::after {
					height: calc(100% - 4rem);
					top: 5.2rem;
				}
			}

			&:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;

				&::after {
					background-image: url('../../Images/road_arrow.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-color: transparent;
					background-position: top center;
					width: 2.55rem;
					min-height: 40rem;
					left: calc((3.6rem - 2.55rem) / 2);

					@media screen and (max-width: $large_tablet) {
						min-height: 30rem;
					}
				}
			}

			&::after,
			&::before {
				content: '';
				position: absolute;
				z-index: 1;

				@media screen and (max-width: $large_tablet) {
					display: none;
				}
			}

			&::before {
				width: 3.2rem;
				height: 3.2rem;
				border-radius: 50%;
				left: 0;
				top: 2rem;
				border: 0.2rem solid #00ffff;
			}

			&::after {
				width: 0.2rem;
				top: 7.1rem;
				left: calc((3.6rem - 0.2rem) / 2);
				background: #ffffff;
				height: calc(100% - 5.8rem);
			}

			p {
				font-size: 3.6rem;
				line-height: 4rem;
				letter-spacing: -1.3px;
				margin-bottom: 3rem;

				&:last-of-type {
					margin-bottom: 0;
				}

				@media screen and (max-width: $large_tablet) {
					font-size: 1.8rem;
					line-height: 2.6rem;
				}
			}

			h3 {
				font-family: 'Hiruko';
				font-weight: 400;
				letter-spacing: -1.3px;
				font-size: 4.8rem;
				line-height: 4.8rem;
				margin-bottom: 4.8rem;

				@media screen and (max-width: $large_tablet) {
					font-size: 3.6rem;
					line-height: 3.6rem;
					margin-bottom: 2rem;
				}
			}

			ul {
				padding: 2rem 0;

				li {
					font-size: 3.6rem;
					line-height: 4rem;
					padding-left: 3rem;
					position: relative;
					margin-bottom: 1.5rem;

					@media screen and (max-width: $large_tablet) {
						padding-left: 2rem;
						margin-bottom: 0.5rem;
					}

					&:last-of-type {
						margin-bottom: 0;
					}

					&::before {
						content: '';
						position: absolute;
						left: 1rem;
						top: 1.2rem;
						width: 1rem;
						height: 1rem;
						border-radius: 50%;
						background-color: #fff;

						@media screen and (max-width: $large_tablet) {
							width: 0.7rem;
							height: 0.7rem;
							top: 0.8rem;
							left: 0.7rem;
						}
					}

					@media screen and (max-width: $large_tablet) {
						font-size: 1.8rem;
						line-height: 2.6rem;
					}
				}
			}
		}

		&__left-text {
			font-family: 'Hiruko';
			font-weight: 900;
			font-size: 7.6rem;
			line-height: 10.8rem;
			color: #00ffff;
			max-width: 71.1rem;
			text-transform: uppercase;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 19rem;

			@media screen and (max-width: $large_tablet) {
				position: static;
				text-align: center;
				font-size: 3.6rem;
				max-width: 40rem;
				line-height: 5rem;
				margin: 0 auto 1rem;
			}
		}

		&__text {
			position: relative;
			z-index: 9;
			color: #fff;

			@media screen and (max-width: $large_tablet) {
				width: 100%;
			}
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6.4rem;
			line-height: 6.4rem;
			padding-left: 17.5rem;
			letter-spacing: 0.2px;
			margin-bottom: 7rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 4rem;
				padding-left: 0;
			}
		}
	}

	.connect {
		width: 100%;
		padding-bottom: 20rem;

		&__container {
			position: relative;
			padding: 8.2rem 4.4rem 5rem 0;
			border-radius: 0 4.9rem 4.9rem 0;
			background: rgba(196, 196, 196, 0.5);
			width: calc(100% - 5.7rem);

			@media screen and (max-width: $large_tablet) {
				padding: 5rem 3rem 3rem 0;
				width: calc(100% - 4rem);
			}
		}

		&__container-wrap {
			padding: 7.7rem 10.5rem 12.5rem;
			border-top: 1rem solid rgba(255, 255, 255, 0.75);
			border-bottom: 1rem solid rgba(255, 255, 255, 0.75);
			border-right: 1rem solid rgba(255, 255, 255, 0.75);
			border-radius: 0 4.9rem 4.9rem 0;
			width: 100%;
			display: flex;
			justify-content: flex-end;

			@media screen and (max-width: $large_tablet) {
				padding: 3rem 3rem 3rem 0;
				justify-content: center;
			}
		}

		&__info {
			width: 100%;
			max-width: 51rem;

			@media screen and (max-width: $large_tablet) {
				max-width: 30rem;
			}
		}

		&__title {
			font-weight: 900;
			font-size: 6.4rem;
			line-height: 6.2rem;
			letter-spacing: 0.2px;
			color: #ffffff;
			text-transform: uppercase;
			font-family: 'Hiruko';
			margin-bottom: 10.5rem;
			text-align: center;

			@media screen and (max-width: $large_tablet) {
				font-size: 5rem;
				line-height: 100%;
				margin-bottom: 5rem;
			}
		}

		&__links {
			display: flex;
			align-items: center;

			a {
				width: 100%;
				max-width: 21.65rem;
				margin-right: 7.5rem;

				img {
					width: 100%;
					object-fit: contain;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__arrow {
			height: 20.7rem;
			position: absolute;
			top: calc(100% - 5rem);
			right: 35.5rem;

			@media screen and (max-width: $large_tablet) {
				height: 15rem;
				right: 20rem;
				top: calc(100% - 3rem);
			}
		}

		&__bear {
			position: absolute;
			bottom: 0;
			left: 10rem;
			max-width: 62.1rem;
			max-height: 100%;
			width: 100%;
			object-fit: contain;
			z-index: 1;

			@media screen and (max-width: $large_tablet) {
				display: none;
			}
		}
	}

	.rarities {
		background: transparent;
		position: relative;
		z-index: 9;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-bottom: 40.1rem;

		@media screen and (max-width: $large_tablet) {
			padding-bottom: 8rem;
		}

		&__container {
			padding: 8rem 2rem 7rem;
			border-top: 1rem solid rgba(255, 255, 255, 0.75);
			border-left: 1rem solid rgba(255, 255, 255, 0.75);
			border-bottom: 1rem solid rgba(255, 255, 255, 0.75);
			border-radius: 5rem 0 0 5rem;
			width: calc(100% - 26.3rem);
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@media screen and (max-width: $large_tablet) {
				width: calc(100% - 5rem);
				padding: 4rem;
			}
		}

		&__text {
			font-size: 7.2rem;

			@media screen and (max-width: $large_tablet) {
				font-size: 4rem;
			}
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6rem;
			margin-bottom: 2.5rem;
			margin-right: 31.5rem;

			@media screen and (max-width: $large_tablet) {
				text-align: center;
				margin: 0 auto 2rem;
				font-size: 5rem;
				line-height: 100%;
			}
		}

		&__arrow {
			position: absolute;
			top: calc(100% + 5.6rem);
			right: 24.3rem;
			height: 35.3rem;
			object-fit: contain;

			@media screen and (max-width: $large_tablet) {
				display: none;
			}
		}
	}

	.team {
		padding-bottom: 32.4rem;

		@media screen and (max-width: $large_tablet) {
			padding: 0 2rem 8rem;
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6.4rem;
			line-height: 6.2rem;
			letter-spacing: 0.2px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 9rem;
			text-align: center;

			@media screen and (max-width: $large_tablet) {
				font-size: 5rem;
				line-height: 100%;
				margin-bottom: 6rem;
			}
		}

		&__wrap {
			position: relative;
			padding: 9.2rem 7.8rem 6rem 4.9rem;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 4.9rem;
			max-width: 127.4rem;
			width: 100%;
			margin: 0 auto;

			@media screen and (max-width: $large_tablet) {
				padding: 8rem 3rem 4rem;
			}
		}

		&__member {
			display: flex;
			margin-bottom: 6rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			@media screen and (max-width: $large_tablet) {
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			&-avatar {
				margin-right: 9.4rem;
				object-fit: contain;
				width: 100%;
				max-width: 32.3rem;

				@media screen and (max-width: $large_tablet) {
					margin-right: 0rem;
					margin-bottom: 5rem;
				}
			}

			&-wrapper {
				max-width: 73rem;
				width: 100%;
			}

			&-name {
				font-family: 'Hiruko';
				font-size: 4.8rem;
				line-height: 4.8rem;
				color: #fff;
				margin-bottom: 1.2rem;

				@media screen and (max-width: $large_tablet) {
					font-size: 3.5rem;
					list-style: 100%;
				}
			}

			&-role {
				font-family: 'Hiruko';
				font-size: 3.6rem;
				line-height: 3.6rem;
				margin-bottom: 2.8rem;
				color: #00ffff;

				@media screen and (max-width: $large_tablet) {
					font-size: 3.5rem;
					list-style: 100%;
				}
			}

			&-description {
				font-family: 'Electrolize', sans-serif;
				font-size: 3.6rem;
				line-height: 4.3rem;
				color: #fff;
				margin-bottom: 0;

				@media screen and (max-width: $large_tablet) {
					font-size: 2.3rem;
					list-style: 100%;
				}
			}
		}

		&__arrow {
			position: absolute;
			left: 50%;
			top: calc(100% + 3.7rem);
			height: 22rem;
			transform: translateX(-50%);

			@media screen and (max-width: $large_tablet) {
				display: none;
			}
		}
	}

	.faq {
		@media screen and (max-width: $large_tablet) {
			padding: 0 2rem;
		}

		&__wrap {
			border: 1rem solid #fff;
			border-radius: 5rem;
			padding: 5.7rem 2.6rem 0.5rem 2.6rem;
			margin: 0 auto;
			max-width: 127rem;
			width: 100%;

			@media screen and (max-width: $large_tablet) {
				padding: 4rem 2.5rem;
			}
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6.4rem;
			line-height: 6.2rem;
			color: #fff;
			letter-spacing: 0.2px;
			margin-bottom: 4.1rem;
			text-align: center;

			@media screen and (max-width: $large_tablet) {
				font-size: 5rem;
				line-height: 100%;
			}
		}

		&__question {
			font-family: 'Hiruko';
			font-size: 3.6rem;
			line-height: 6.2rem;
			letter-spacing: 0.2px;
			color: #fff;
			margin-bottom: 1rem;

			@media screen and (max-width: $large_tablet) {
				font-size: 2.3rem;
				line-height: 130%;
			}
		}

		&__answer-content {
			height: 100%;
			overflow: hidden;
			margin-bottom: 2rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 3rem;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__answer {
			font-family: 'Electrolize', sans-serif;
			font-size: 3.6rem;
			line-height: 6.2rem;
			letter-spacing: 0.2px;
			color: #00ffff;

			@media screen and (max-width: $large_tablet) {
				font-size: 2.3rem;
				line-height: 130%;
			}
		}

		.child-answer {
			font-family: 'Electrolize', sans-serif;
			font-size: 3.6rem;
			line-height: 6.2rem;
			color: #00ffff;

			@media screen and (max-width: $large_tablet) {
				font-size: 2.3rem;
				line-height: 130%;
			}

			li {
				position: relative;
				padding-left: 3.6rem;

				&::before {
					content: '';
					position: absolute;
					left: 1.6rem;
					top: 2rem;
					transform: translateX(-50%);
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
					background-color: #00ffff;

					@media screen and (max-width: $large_tablet) {
						top: 0.6rem;
					}
				}
			}
		}
	}
}
