@import '../../../Styles/varsSnowmen.scss';

.Snowmen {
	.team-slider {
		display: none;

		@media screen and (max-width: $large_tablet) {
			display: block;
			padding: 0 0rem 17.2rem;

			.swiper-pagination {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.swiper-pagination-bullet {
					width: 6.4rem;
					height: 1.2rem;
					background: #ebdee0;
					opacity: 1;
					border-radius: 0.8rem;
					margin-right: 1.9rem;
					transition: 0.5s;

					&:last-of-type {
						margin-right: 0;
					}

					&-active {
						background: #0047ff;
					}
				}
			}
		}
	}
}
